body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

rect {
  fill: steelblue;
}

circle {
  fill: paleturquoise;
  stroke-width: 2px;
}

svg {
  background-color: whitesmoke;
}
.svgText {
  font-size: 1.5em;
  font-style: oblique;
  fill: teal;
}
